<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="target-platform.target" sequenceNumber="15">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner"
            includeSource="true" type="InstallableUnit">
            <repository
                location="https://download.eclipse.org/tools/orbit/downloads/drops/R20211213173813/repository" />
            <unit id="ch.qos.logback.slf4j" version="0.0.0" />
            <unit id="ch.qos.logback.slf4j.source" version="0.0.0" />
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner"
            includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/technology/swtbot/releases/latest" />
            <unit id="org.eclipse.swtbot.eclipse.feature.group"/>
            <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group"/>
            <unit id="org.eclipse.swtbot.feature.group"/>
            <unit id="org.eclipse.swtbot.forms.feature.group"/>
            <unit id="org.eclipse.swtbot.ide.feature.group"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner"
            includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/releases/2022-12" />
            <unit id="org.eclipse.platform.sdk"/>
            <unit id="org.eclipse.equinox.sdk.feature.group"/>
            <unit id="org.eclipse.equinox.p2.sdk.feature.group"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner"
            includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/releases/2022-12" />
            
            <unit id="org.junit.jupiter.api" version="5.7.0" />
            <unit id="org.junit.jupiter.engine" version="0.0.0" />
            <unit id="org.eclipse.jdt.junit5.runtime" version="0.0.0" />
            <unit id="org.junit" version="0.0.0" />
            <unit id="org.hamcrest.core" version="0.0.0" />
        </location>

        <location includeDependencyDepth="infinite" includeDependencyScopes="compile"
            includeSource="true" missingManifest="generate" type="Maven">

            <feature id="test.libraries.feature" label="Test library feature"
                version="1.0.0.qualifier">

            </feature>
            <dependencies>
                <dependency>
                    <groupId>org.mockito</groupId>
                    <artifactId>mockito-junit-jupiter</artifactId>
                    <version>4.3.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.hamcrest</groupId>
                    <artifactId>hamcrest</artifactId>
                    <version>2.2</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.mockito</groupId>
                    <artifactId>mockito-inline</artifactId>
                    <version>4.3.1</version>
                    <type>jar</type>
                </dependency>
                <dependency>
                    <groupId>org.objenesis</groupId>
                    <artifactId>objenesis</artifactId>
                    <version>3.2</version>
                </dependency>

            </dependencies>
        </location>
    </locations>
</target>