<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="com.vogella.tycho.target" sequenceNumber="5">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.mockito" version="1.9.5.v201605172210"/>
<unit id="org.mockito.source" version="1.9.5.v201605172210"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.6.0.I20160529-2000"/>
<unit id="org.eclipse.sdk.ide" version="4.6.0.I20160529-2000"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.6-I-builds"/>
</location>
</locations>
</target>
